.logo-wrapper {
    display: flex;
    height: 400px;
    width: 100vw;
}

.logo-img {
    object-fit: cover;
    filter: contrast(60%);
}

.logo-text-wrapper {
    position: absolute;
    display: flex;
}

.logo-text {
    margin: auto;
    width: 70%;
    color: white;
    text-align: center;
    background-color: #202020;
    border-radius: 50px;
    padding: 25px;
}

.logo-img,
.logo-text-wrapper {
    height: inherit;
    width: inherit;
}