.profile-img {
    height: 50vh;
    display: flex;
}

.profile-img img {
    margin: auto;
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.custom-input {
    opacity: 0;
    position: absolute;
}

.profile-edit-btn-wrapper {
    height: 15vh;
    display: flex;
}

.profile-edit-btn {
    margin: auto;
}