@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
* {
    font-family: 'Saira Semi Condensed', sans-serif !important;
}

/* Error page */
.error-page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.error-page h1 {
    margin: auto;
}

.title {
    text-align: center;
}

/* Login */
.login-list {
    position: relative;
}

.register-route {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    display: flex;
}

.login-btn {
    display: flex;
    --border-width: 0;
    font-size: 20px;
    left: 0;
    right: 0;
    margin: 50px;
}

/* Register */
.register-page {
    height: 100vh;
}

.register-inputs-wrapper {
    height: 55vh;
}

.register-btn-wrapper {
    height: 35vh;
    display: flex;
}

.register-route-wrapper {
    height: 10vh;
}

.register-btn {
    margin: auto;
    height: 4.5rem;
    width: 8rem;
    --border-width: 0;
    font-size: 20px;
}

/* Menu */

ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-menu.md ion-list {
    padding: 20px 0;
}

ion-menu.md ion-note {
    margin-bottom: 30px;
}

ion-menu.md ion-list-header, ion-menu.md ion-note {
    padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
    min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
    margin-bottom: 18px;
    color: #757575;
    min-height: 26px;
}

ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
}

ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
    color: #616e7e;
}

ion-menu.md ion-item ion-label {
    font-weight: 500;
}

ion-menu.ios ion-content {
    --padding-bottom: 20px;
}

ion-menu.ios ion-list {
    padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
}

ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
}

ion-menu.ios ion-item .selected ion-icon {
    color: var(--ion-color-primary);
}

ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
}

ion-menu.ios ion-list-header, ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
}

ion-menu.ios ion-note {
    margin-bottom: 8px;
}

ion-note {
    display: inline-block;
    font-size: 16px;
    color: var(--ion-color-medium-shade);
}

ion-item.selected {
    --color: var(--ion-color-primary);
}

.menu-avatar {
    width: 130px;
    height: 130px;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
}

.menu-info {
    width: 100%;
    text-align: center;
}

/* Search */
.search-options-select {
    margin: auto;
    width: 55%;
}

.custom-searchbar {
    padding: 20px !important;
}

.loading-publications {
    width: 100vw;
    height: 50vh;
    display: flex;
}

.spinner {
    margin: auto;
}

/* Chat */
.chat-box-title {
    text-align: center;
    width: 90%;
}

/* Details */
.details-preview {
    height: 40vh;
}

.details-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-disabled {
    opacity: 1;
}

.details-items-wrapper {
    min-height: 40vh;
}

.details-btn-wrapper {
    height: 15vh;
    display: flex;
}

.details-btns {
    margin: auto;
}

.creator-avatar {
    width: 30vw;
    height: 30vw;
}

/* Create publication */
.slide {
    height: 100vh;
    width: 100vw;
}

.slide-img {
    height: 40vh;
    width: 100vw;
    position: relative;
}

.slide-img img {
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    filter: contrast(80%);
}

.slide-img div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.slide-img div h1 {
    margin: auto;
    font-size: 30px;
    width: 70%;
    color: white;
    background-color: #202020;
    border-radius: 50px;
    padding: 25px;
}

.last-slide {
    display: flex;
}

.slide-wrapper {
    margin: auto;
    width: 80vw;
}

.slide-right {
    bottom: 0;
    position: absolute;
    width: 100vw;
}

.slide-wrapper p {
    font-size: 30px;
    z-index: 100;
}

.create-img {
    position: absolute;
    object-fit: cover;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    filter: contrast(60%);
}

.create-btn {
    margin: auto;
    --background: #202020f3;
    height: 50px;
}

.start-journey {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.start-journey-wrapper {
    margin: auto;
    height: 50vh;
}

.start-journey-wrapper h1 {
    font-size: 40px;
    margin-bottom: 50px;
    padding: 5px;
    color: white;
}


.slide-info {
    padding-left: 10%;
    padding-right: 10%;
}

/* Chat */
.message-input {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.chat-title {
    text-align: center;
}

.chat-list {
    padding-bottom: 50px;
}

/* Account */
.profile-img {
    height: 50vh;
    display: flex;
}

.profile-img img {
    margin: auto;
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.custom-input {
    opacity: 0;
    position: absolute;
}

.profile-edit-btn-wrapper {
    height: 15vh;
    display: flex;
}

.profile-edit-btn {
    margin: auto;
}

/* Logo */
.logo-wrapper {
    display: flex;
    height: 400px;
    width: 100vw;
}

.logo-img {
    object-fit: cover;
    filter: contrast(60%);
}

.logo-text-wrapper {
    position: absolute;
    display: flex;
}

.logo-text {
    margin: auto;
    width: 70%;
    color: white;
    text-align: center;
    background-color: #202020;
    border-radius: 50px;
    padding: 25px;
}

.logo-img,
.logo-text-wrapper {
    height: inherit;
    width: inherit;
}