@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

* {
    font-family: 'Saira Semi Condensed', sans-serif !important;
}

.error-page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.error-page h1 {
    margin: auto;
}

.title {
    text-align: center;
}

.login-list {
    position: relative;
}

.register-route {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    display: flex;
}

.login-btn {
   display: flex;
    --border-width: 0;
    font-size: 20px;
    left: 0;
    right: 0;
    margin: 50px;
}