.details-preview {
    width: 100vw;
    height: 45vh;
}

.details-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-disabled {
    opacity: 1;
}

.details-items-wrapper {
    height: 40vh;
}

.details-btn-wrapper {
    height: 15vh;
    display: flex;
}

.details-btns {
    margin: auto;
}