.details-preview {
    width: 100vw;
    height: 40vh;
}

.details-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-disabled {
    opacity: 1;
}

.details-items-wrapper {
    min-height: 40vh;
}

.details-btn-wrapper {
    height: 15vh;
    display: flex;
}

.details-btns {
    margin: auto;
}

.creator-info {
    padding: 10px;
}

.creator-info p {
    margin: 7px;
}

.details-creator-img {
    object-fit: cover;
    width: 30vw;
    height: 20vh;
}
